<%- layout('/layouts/boilerplate')-%>

    <body>
        <div class="row col-md-8 offset-2">
            <form method="post" action="/listings/<%=listing._id%>?_method=PATCH" novalidate class="needs-validation" enctype="multipart/form-data">
                <br><br>
                <h3>Edit New Listing</h3>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" value="<%=listing.title%>" id="title" name="listing[title]"
                        required>
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Enter Valid Title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" class="form-control" name="listing[description]"
                        placeholder="Express your thoughts on your villa" rows="3"
                        required><%=listing.description%></textarea>
                    <div class="valid-feedback">Looks Good!</div>

                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input id="price" type="number" class="form-control" placeholder="Price" name="listing[price]"
                        required value=<%=listing.price%>>
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Enter Valid Price</div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input id="location" type="text" class="form-control" placeholder="Location"
                        name="listing[location]" required value=<%=listing.location%>>
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Enter Valid Location</div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input id="country" class="form-control" type="text" placeholder="country" name="listing[country]"
                        required value=<%=listing.country%>>
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Country Doesn't Exist</div>
                </div>
                <div class="mb-3">
                    <img src="<%=updatedUrl%>"/>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input id="image" class="form-control" type="file" placeholder="url" name="listingimage" >
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Enter Valid Image</div>
                </div>

                <div class="new-btn">
                    <button class="btn btn-primary btn-md">Edit Listing</button>
                </div>
                <br><br>
        </div>



        </form>
    </body>